@import url(./style.css);

body {
  background:none;
}

.jumbotron {
    page-break-after:always;
}

table {
    page-break-after:always;
}

table {
  page-break-inside:auto;
}

tr {
  page-break-inside:avoid;
  page-break-after:auto;
}

thead {
  display:table-header-group;
}

tfoot {
  display:table-footer-group;
}

#tableContainer {
    overflow-x:visible !important;
}

#vote-form, .scroll-buttons, form .alert.alert-info {
    display:none;
}

table.results td {
    border:2px solid #333;
}

table.results tr td:last-child {
    display:none;
}

.container {
    width:auto;
}

@page {
    size:landscape;
}
