#<IfModule mod_rewrite.c>
  RewriteEngine On
  
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule .* - [L]
  
  RewriteRule ^([a-z0-9]{16})$ studs.php?sondage=$1
  RewriteRule ^([a-z0-9]{24})/admin$ adminstuds.php?sondage=$1
  # Pour le dernier j'ai honte, mais il y a trop de chose à modifier pour le moment :-)
  RewriteRule ^([a-z0-9]{24})/images/(.*)$ images/$2
#</IfModule>