/*
==========================================================================

Université de Strasbourg - Direction Informatique
Auteur : Guilhem BORGHESI
Création : Février 2008

borghesi@unistra.fr

Ce logiciel est régi par la licence CeCILL-B soumise au droit français et
respectant les principes de diffusion des logiciels libres. Vous pouvez
utiliser, modifier et/ou redistribuer ce programme sous les conditions
de la licence CeCILL-B telle que diffusée par le CEA, le CNRS et l'INRIA 
sur le site "http://www.cecill.info".

Le fait que vous puissiez accéder à cet en-tête signifie que vous avez 
pris connaissance de la licence CeCILL-B, et que vous en avez accepté les
termes. Vous pouvez trouver une copie de la licence dans le fichier LICENCE.

==========================================================================

Université de Strasbourg - Direction Informatique
Author : Guilhem BORGHESI
Creation : Feb 2008

borghesi@unistra.fr

This software is governed by the CeCILL-B license under French law and
abiding by the rules of distribution of free software. You can  use, 
modify and/ or redistribute the software under the terms of the CeCILL-B
license as circulated by CEA, CNRS and INRIA at the following URL
"http://www.cecill.info". 

The fact that you are presently reading this means that you have had
knowledge of the CeCILL-B license and that you accept its terms. You can
find a copy of this license in the file LICENSE.

==========================================================================
*/

/*
Le fichier style.css est le fichier de style de studs. Il se trouve à la racine 
du répertoire studs. Il contient toutes les mises en forme des fichiers PHP
de Studs.
*/
/*bandeau de titre*/
div.bandeau{ 
	line-height:35px;
	text-align:center;
	background-color: #0b419b;
	color:white;
	vertical-align:middle;
	font-size:35px;
	font-family:arial;
	padding:8px; 
	height:35px;
	position:static;
	top:6px;
	left:6px;
	right:6px;

}
div.logo{ 
	height:64px;
	float:right;
	top:8px;
	right:8px;
	margin-left: 0;
	margin-right:0; 
	margin-bottom:auto;
}
/*Sous bandeau avec bouton de navigation*/
div.bandeautitre{ 
	height:17px;
	background-color: #0077DD;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	color:white;
	vertical-align:middle;
	font-family:arial;
 	padding:3px; 
	position:static;
	top:57px;
	left:6px;
	right:6px;
} 
div.sousbandeau{ 
	height:17px;
	background-color: #DDDDDD;
	font-size:11px;
	color:black;
	vertical-align:middle;
	font-family:arial;
	padding:3px;
	position:static;
	top:80px;
	left:6px;
	right:6px;
}
/*bandeau de pied*/
div.surbandeaupied{ 
	background-color: #0077DD;
	position:absolute;
	bottom:30px;
	left:6px;
	right:6px; 
	height:6px;
}
div.bandeaupied{ 
	text-align:center;
	background-color: #0b419b;
	color:white;
	font-size:11px;
	font-family:arial;
	padding:6px;
	position:fixed;
	bottom:6px;
	left:6px;
	right:6px; 
	margin:2px;
}
div.surbandeaupiedmobile{ 
	background-color: #0077DD;
	position:static; 
	bottom:32px;
	left:6px;
	right:6px; 
	height:6px;
}
div.bandeaupiedmobile{ 
	text-align:center;
	background-color: #0b419b;
	color:white;
	font-size:11px;
	font-family:arial;
	padding:6px; 
	position:static; 
}
/*les boutons se trouvant dans le sousbandeau*/
div.sousbandeau a, div.sousbandeau span.sousbandeaulangue a {
 	background-color: #0b419b; 
	height:16px;
	padding: 2px 6px 2px 6px;
	vertical-align:middle;
	text-align:center;
	margin-left:10px;
	margin-right:10px;
	font-family:arial;
	color:white;
	font-size:10px;
	text-decoration:none;
}
span.sousbandeaulangue {
	margin-left:6px;
	margin-right:6px;
	float:right;
}
/*corps de la page index.php*/
div.corps{ 
	font-size:12px;
	font-family:arial;
	position:static;
	top:170px;
	left:20px;
	right:20px;
	padding:30px;
}
div.corps  table{
	font-family:arial;
	font-size:12px;	
	font-weight:bold;
}
div.corpscentre{ 
	font-size:12px;
	font-family:arial;
	text-align:center;
	position:absolute;
	top:150px;
	margin-right:10%;
	margin-left:10%;
	width:80%;
}
/*affichage des jours*/
div.jourschoisis {
	background-color: #DDD;
	padding:10px;
	text-align: center;
	position:static;
	left:700px;
	top:170px;
	font-size:12px;
	width:100%;
}
/*presenation des pages*/
div.bodydate {
	padding:10px;
	font-family:arial;
	font-size:12px;	
	text-align:center;
	position:static;
	top:330px;
	left:20px;
	right:20px;
}
div.bodydate table{
	font-family:arial;
	font-size:12px;	
	font-weight:bold;
}
/*cadre de commentaires*/
div.presentationdate {
	width:40%;
	font-family:arial;
	text-align:center;
	font-size:12px;	
	border-width:1px;
	border-style:solid;
	border-color:#969696;
	position:static;
	top:110px;
 	right:1px;
	left:1px;
	margin-top:10px;
	margin-left:30%;
	margin-right: 30%; 
}
div.presentationdatefin {
	width:40%;
	padding:10px;
	font-family:arial;
	text-align:center;
	font-size:12px;	
	border-width:1px;
	border-style:solid;
	margin-top: 10px;
	margin-left: 30%;
    margin-right: 30%; 
	position:static;
}
/*cadre principal de studs.php*/
div.cadre {
	padding:10px; 
	font-family:arial;
	font-size:12px;	
	position:static;
	top:235px;
	text-align:center;
	margin:0 auto;
}
/*la table des résultats dans l'affichage de sondage*/
div.cadre table.resultats {
	background-color: white; 
	text-align: center;
	margin:0 auto;
}

div.cadre td {
	height:21px;
}
/*case de tableau OK dans affichage de sondage*/
div.cadre td.ok {
	background-color: #66FF99; 
	font-size:12px;	
	text-align:center;
}
/*Case de tableau NON dans affichage de sondage*/
div.cadre td.non {
	background-color: #FF7777; 
	width:35px;
}
/*Case de tableau VIDE dans affichage de sondage*/
div.cadre td.vide {
	background-color: #DDDDDD; 
	text-align:center;
}
/*Case de tableau contenant les noms dans affichage de sondage*/
div.cadre td.nom {
	background-color: #DDDDDD; 
	font-size:12px;	 
	text-align:center;
}
div.cadre td.casevide {
	background-color: white; 
	text-align:center;
}
/*les cases contenant les sommes de chaque colonne dans l'affichage de calendrier*/
div.cadre td.somme {
	background-color: white; 
	font-weight:  bold;
	font-size:14px; 
}

/*Case de tableau SUJET dans affichage de sondage*/
div.cadre td.sujet, div.cadre td.jour, div.cadre td.heure {
	border: 2px;
	background-color: #DDDDDD; 
	font-weight:  bold;
	font-size:14px;
	padding:1px 5px;
}

div.cadre td.annee {
	border: 2px;
	background-color: #969696; 
	font-weight:  bold;
	font-size:14px;
	padding:1px 5px;
}
div.cadre td.mois {
	border: 2px;
	background-color: #C0C0C0; 
	font-weight:  bold;
	font-size:14px;
	padding:1px 5px;
}

/*affichage du calendrier*/
div.calendrier {
	padding:10px;
	background-color: #AAA;
	width:490px;
	font-size:12px;
	font-family:arial;
    margin-left: 30%;
    margin-right: 30%;
	position:static;
}
/*jour de la semaine dans calendrier*/
div.calendrier td.joursemaine {
	width:65px;
	text-align: center;
	font-family:arial;
	font-size:14px;
	border: 2px;
	background-color: white; 
}
div.calendrier td.jourwe {
	width:65px;
	text-align: center;
	font-family:arial;
	font-size:14px;
	border: 2px;
	background-color: #C0C0C0; 
}
/*jour avant le premier jour du mois dans calendrier*/
div.calendrier td.avant {
	width:65px;
	text-align: center;
	border: 2px;
	font-family:arial;
	font-size:13px;
	background-color: #DDDDDD; 
}
/*jour libre dans calendrier*/
div.calendrier td.libre {
	width:65px;
	text-align: center;
	border: 2px;
	background-color: #66FF99; 
}
/*jour deja selectionné dans calendrier*/
div.calendrier td.choisi {
	width:65px;
	text-align: center;
	border: 2px;
	background-color: #0077DD; 
}
/* Le paragraphe de fin */
p.affichageresultats{
	text-align: center;
	font-family:arial;
	font-size:13px;
}

a.affichageexport{
	text-align: center;
	font-family:arial;
	font-size:10px;
	margin-left:10px;
	text-decoration: none;
}
div.titregestionadmin{
	text-align: center;
	font-weight:bold;
	font-size:18px;
	padding:10px;
}


.bouton {
	width: 65px;
	border:0px;
	padding:0px 0 0 0;
	margin:0px;
	cursor:pointer;
	font-family:arial;
	font-size:13px;
}
/*les boutons pour choisir un jour non selectionné*/
.ON {
    background-color: #66FF99;
}

/*les boutons pour deselectionner un jour deja choisi*/
.OFF {
    background-color: #0077DD;
}

div.nouveau_sondage a {
    text-decoration: none;
}
div.nouveau_sondage span img {
    vertical-align: middle;
    border: 0px;
}
div.nouveau_sondage span {
    margin-left: 20px;
}

div.error, div.addcomment {
    text-align:center;
    border: 1px;
    font-family: arial;
    font-size: 13px;
}
ul.exports {
    text-align:center;
    list-style-type : none ;
}
li.error {
    color: red;
}
