
		@font-face {
    		font-family: 'Aller';
    		src: url('../fonts/Aller/Aller_Lt.ttf');
    		font-weight:400;
		}
		
		html, body {width:100%;height:100%;margin:0;padding:0;border:none;font-family:'Aller';font-size:14px;line-height:1.4;}

		header, footer {height:10px;}

		input, textarea {font-family:'Aller';font-size:14px;font-weight:bold;color:#2a2a37;resize: none; }

		.field textarea ~ p{border:1px solid red;}

		h1.framaTitle {position:absolute;top:-10px;font-size:24px;}

		[role="Main"] {
			width:650px;
			height:350px;
			margin:auto;
			margin-top:5%;
			padding:10px;
			border:3px solid #CCC;
			border-radius:8px;
			position:relative;
			overflow:hidden;
		}

		[role="Main"] p {display:block;margin:2px;padding:2px;}
		[role="Main"] div.field p {display:inline-block;width:200px;}
		[role="Main"] div.check p {display:inline-block;width:600px;}
		[role="Main"] input {display:inline;}
		[role="Main"] textarea {max-width:50%;max-height:40%;}

		#entry_form {position:absolute;display:inline;margin:10px;padding:4px;margin-top:40px;}
		#entry_form form {margin-top:20px;}
		#entry_form form input[type="submit"]{float:right;}
		#entry_form form .check {margin-top:0px;}
		#entry_form form .check:not(:last-of-type) {margin-top:20px;}

		#choices {position:absolute;display:inline;margin:10px;padding:4px;padding-bottom:10px;margin-top:40px;}
		#action {position:absolute;display:inline;margin:10px;padding:4px;margin-top: 20px;}
		#action p {display:block;margin:2px;padding:2px;width:630px;}

		.trans {
			-webkit-transition:0.5s all ease;
			-moz-transition:0.5s all ease;
			-ms-transition:0.5s all ease;
			-o-transition:0.5s all ease;
			transition:0.5s all ease;
		}

		.fastTrans {
			-webkit-transition:0.2s all ease;
			-moz-transition:0.2s all ease;
			-ms-transition:0.2s all ease;
			-o-transition:0.2s all ease;
			transition:0.2s all ease;
		}

		.wait {
			-webkit-transition:0s all ease;
			-moz-transition:0s all ease;
			-ms-transition:0s all ease;
			-o-transition:0s all ease;
			transition:0s all ease;
		}

		.active {left:0px;opacity:1;}
		.inactive {left:1000px;opacity:0;}

		label {clear:both;display:block;width:300px;}
		label input {margin-left:10px;}

		.add_entries {width:400px;float:left;}
		.add_entries p {display:inline;}

		#choices .continue {float:left;}
		#choices label p {float:left;width:70px;}
		#choices .presentation {width:640px;}

		.choice_line.active {}

		.choice_line.chosen td input[type="checkbox"]:checked {background:black;}

		.choice_line.chosen td:not(.ok):not(:first-of-type):not(:last-of-type) {background:#d96f6f;}

		.choice_line.chosen td.ok {background:#00bee9;}

		.choice_line.active input[type="checkbox"]{width:100%;height:100%;}

		.choice_line.chosen input[type="checkbox"]{display:none;}

		button[type="print"] {float:right;margin-right:20px;}

		#action table {
			display: inline-block;
			position: relative;
			overflow: auto;
			width: 640px;
		}


		/*_ Donne du style aux champs de renseignement _*/
		.field > input, input.choice, input[name="active_name"], textarea {
			display: inline;
			border-style: solid;
			border-width: 1px;
			border-color: #dedede;
			padding-left:4px;
			width: auto;
			height: auto;
			color: #008bc1;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
			-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
			-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
			transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
			-webkit-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
			-moz-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
			-o-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;
		}
		
		input[name="active_name"]:focus, input.choice:focus, .field > input:focus, textarea:focus {
			color: #333;
			border-color: rgba(0, 139, 93, 0.4);
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(0, 139, 93, 0.6);
			-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(40, 90, 160, 0.6);
			-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(40, 90, 160, 0.6);
			outline: 0 none; 
		}