authType      basic
authName      "ADMIN OpenSondage"

authUserFile  /home/framatools/www/opensondage/admin/.htpasswd

order         deny,allow

# satisfy       all

# allow from all

require user studs
