<h1>{{ __('EditLink', 'Edit link for poll "%s"', poll.title) }}</h1>
<p>
    {{__('EditLink', 'Here is the link for editing your vote:')}}
    <a href="{{poll_url(poll, editedVoteUniqueId) }}">{{ poll.title | raw }}</a>
</p>
