{% extends 'page.twig' %}

{% block main %}
    <div class="alert alert-warning text-center">
        <h2>{{ error }}</h2>
        <p>{{__('Generic', 'Back to the homepage of') }} <a href="{{ path('home') }}">{{APPLICATION_NAME|raw}}</a></p>
    </div>
{% endblock %}
