<h1>{{ __('EditLink', 'Edit link for poll "%s"', poll.title) }}</h1>
<p>
    {{__('EditLink', 'Here is the link for editing your vote:')}}
    <a href="{{ path('edit_vote_poll', {'poll_id': poll.id, 'vote_uniq_id': editedVoteUniqueId}) }}">{{ poll.title | raw }}</a>
</p>
